<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_round"
        android:label="PG Finder"
        android:supportsRtl="true"
        android:theme="@style/Theme.PGFinder"
        tools:targetApi="31">
        <activity
            android:name=".Aboutus"
            android:exported="false" />
        <activity
            android:name=".Editpg"
            android:exported="false" />
        <activity
            android:name=".Filter"
            android:exported="false" />
        <activity
            android:name=".PaymentSuccess"
            android:exported="false" />
        <activity
            android:name=".payment"
            android:exported="false" />
        <activity
            android:name=".confirm_rent"
            android:exported="false" />
        <activity
            android:name=".HomeDetails"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".MyPg"
            android:exported="false" />
        <activity
            android:name=".Forget_activity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Update_email"
            android:exported="false" />
        <activity
            android:name=".Editprofile"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>